<div ong-controller="DetailController as detailController">
  <div class="modal-header">
      <h3 class="modal-title">ToDo details!</h3>
  </div>
  <div class="modal-body">
      <h4>Title :</h4>
      <p>{{detailController.title}}</p>
      <h4>Note :</h4>
      <p>{{detailController.note}}</p>
  </div>
  <div class="modal-footer">
      <button class="btn btn-primary" type="button" ng-click="detailController.okAction()">OK</button>
      <button class="btn btn-warning" type="button" ng-click="detailController.cancelAction()">Cancel</button>
  </div>
</div>